<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <meta charset="utf-8" />
        {% assets 'main_styles' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body>
    <h1><a href="{{  url_for('index') }}">cherimoya</a></h1>
    {% assets 'main_scripts' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block page_content %}
    {% endblock %}
    </body>
</html>
