<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <meta charset="utf-8" />
        {% assets 'main_styles' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"href="{{  url_for('index') }}">cherimoya</a>
  </div>
</nav>

    {% assets 'main_scripts' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block page_content %}
            {% endblock %}
          </div>
        </div>
    </div>
    </body>
</html>
