{% extends "base.html" %}
{% block page_title %}Plot{% endblock %}
{% block page_content %}

<h2>Plot</h2>
<div id='chart'></div>


<script>
    $(function () {
        $('#chart').highcharts({
            title: {
                text: '{{ name }}, field {{ index_ }}'
            },
            xAxis: {
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'value'
                }
            },
            series: [
                    {
                        type: 'area',
                        name: 'real',
                        data: [
                            {% for value in series %}
                                {{ value.real }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ]
                    },
                                {
                        type: 'area',
                        name: 'imag',
                        data: [
                            {% for value in series %}
                                {{ value.imag }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ]
                    }
            ]
        });
    });
</script>

{% endblock %}
