{% extends "base.html" %}
{% block page_title %}Statistics for {{ statistic.name }}{% endblock %}
{% block page_content %}

<h1>{{ statistic.name }}</h1>

{% if indexes.float %}
    <h2>floats</h2>
    {%  for i in range(indexes.float) %}
        <a href="{{  url_for('plot', name=statistic.name, type_='float', index_=i) }}">{{  i }}</a>
    {% endfor %}
{% endif %}

{% if indexes.complex %}
<h2>Complexs</h2>
{%  for i in range(indexes.complex) %}
    <a href="{{  url_for('plot', name=statistic.name, type_='complex', index_=i) }}">{{ i }}</a>
{% endfor %}
{% endif %}

{% if indexes.str %}
<h2>Strings</h2>
{%  for i in range(indexes.str) %}
    <a href="{{  url_for('plot', name=statistic.name, type_='str', index_=i) }}">{{  i }}</a>
{% endfor %}
{% endif %}

{% if indexes.int %}
<h2>Integers</h2>
{%  for i in range(indexes.int) %}
    <a href="{{  url_for('plot', name=statistic.name, type_='int', index_=i) }}">{{  i }}</a>
{% endfor %}
{% endif %}

{% endblock %}